* {
    margin: 0;
    padding: 0;
}

#app {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul, ol {
    list-style: none;
}

@font-face {
    src: url("../assets/font/Exo-Medium.ttf");
    font-family: 'ExoMedium';
}

@font-face {
    src: url("../assets/font/Kazesawa-Regular.ttf");
    font-family: 'Kazesawa-Regular';
}

@font-face {
    src: url("../assets/font/Andrea.otf");
    font-family: 'Andrea';
}

@font-face {
    src: url("../assets/font/Exo-SemiBold.ttf");
    font-family: 'ExoSemiBold';
}